<!DOCTYPE html>
<html lang="en">

<head>
  <title>Crear Asic</title>
  <%- include('../partials/head') %>
</head>

<body>
    <style>
        body {
            background-image: url('../img/Back\ sesión.jpg');
        }
    </style>

    <%- include ('../partials/header') %>
    <main>
    <h1 class="h1form">Crear Asic</h1>

    <form action="/asic/crear" method="POST" enctype="multipart/form-data" class="formulario">
        <label class="labelForm" for="image">Imagen</label>
        <input type="file" name="image" accept=".png,.jpg" class="controlI" required>

        <label class="labelForm" for="titulo">Nombre</label>
        <input type="text" name="titulo" placeholder="Ingrese el nombre" class="control" required>

        <label class="labelForm" for="precio">Precio</label>
        <input type="text" name="precio" placeholder="Ingrese el precio" class="control" required>

        <label class="labelForm" for="especificaciones">Especificaciones</label>
        <textarea name="especificaciones" placeholder="Ingrese las especificaciones del producto" class="control control1" required></textarea>
        <br>
        <button class="buttons"><a class="buttonPublicar">Publicar</a></button>
    </form>
    </main>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>

</html>