<!DOCTYPE html>
<html lang="en">

<head>
    <title>Product Create</title>
    <%- include('../partials/head') %>
</head>

<body>
    <style>
        body {
            background-image: url('../../img/Back\ sesión.jpg');
        }
    </style>

    <%- include ('../partials/header') %>

    <h1 class="h1form">Editar Rigs</h1>

    <form action="/rigs/crear" method="POST" enctype="multipart/form-data" class="formulario">
        <label class="labelForm" for="image">Imagen</label>
        <input type="file" name="image" accept=".png,.jpg" >

        <label class="labelForm" for="titulo">Titulo</label>
        <input type="text" name="titulo" placeholder="Titulo" class="control">

        <label class="labelForm" for="precio">Precio</label>
        <input type="text" name="precio" placeholder="$" class="control">

        <label class="labelForm" for="especificaciones">Especificaciones</label>
        <textarea name="especificaciones" class="control control1"></textarea>>


        <button type="submit" class="buttons">Actualizar</button>
    </form>
<footer>
    <%- include('../partials/footer') %>
</footer>
</body>

</html>