<header>
    <div class="black">
    <div class="logo">
        <a href="http://localhost:3000/">
            <img src="/img/CIPHER.png" width="120px ">
        </a>
    </div>

    <nav class="desktopnav">
        <div> <a class="palabrasNav" href="/asic"> Asic </a> </div>
        <div> <a class="palabrasNav" href="/rigs"> Rigs </a> </div>
        <div> <a class="palabrasNav" href="/nosotros"> Nosotros </a> </div>
        <div> <a class="palabrasNav" href="/contacto"> Contacto </a> </div>
        <% if (locals.isLogged) { %>
        <div class="iconos">
                <a href="/login/profile/:id"> <img class="login" src="/img/User icon.png" alt=""></a>

        <a href="/carrito"> <img class="shop" src="/img/Shop icon.png" alt=""></a></div>
        <% }  else { %>
            <div class="iconos">
                <a href="/login"> <img class="login" src="/img/User icon.png" alt=""></a></div>
        <% } %>
    </nav>

    <nav role="navigation">

        <div class="menuToggle">
            <input type="checkbox" />
            <span></span>
            <span></span>
            <span></span>

            <ul class="menu">
                <a class="form1" href="/asic">
                    <li>Asic</li>
                </a>
                <a class="form1" href="/rigs">
                    <li>Rigs</li>
                </a>
                <a class="form1" href="/nosotros">
                    <li>Nosotros</li>
                </a>
                <a class="form1" href="/contacto">
                    <li>Contacto</li>
                </a>
                <% if (locals.isLogged) { %>
                    <a class="form1" href="/login/profile/:id">
                        <li>Cuenta</li>
                    </a>
                    <a class="form1" href="/carrito">
                        <li>Carrito</li>
                    </a>
                    <% }  else { %>
                    <a class="form1" href="/login">
                        <li>Cuenta</li>
                    </a>
                    <% } %>                
            </ul>

        </div>

    </nav>
    <script>
        $(document).ready(function(){
        $(window).scroll(function(){
  	    var scroll = $(window).scrollTop();
	    if (scroll > 60) {
	       $(".black").css("background" , "#0000005d");
	    }

	    else{
		  $(".black").css("background" , "transparent");  	
	    }
       })
     })
    </script>
    </div>
</header>