<header class="header">
    
    <div class="logo">
        <a href="http://localhost:3000/">
            <img src="/img/CIPHER.png" width="120px ">
        </a>
    </div>

    <nav class="desktopnav">
        <div> <a class="form1" href="/productEdit"> Crear </a> </div>
        <div> <a class="form1" href="/asic"> Asic </a> </div>
        <div> <a class="form1" href="/rigs"> Rigs </a> </div>
        <div> <a class="form1" href="/nosotros"> Nosotros </a> </div>
        <div> <a class="form1" href="/contacto"> Contacto </a> </div>
        <div class="iconos">
        <a href="/login/profile/:id"> <img class="login" src="/img/User icon.png" alt=""> </a>
        <a href="/carrito"> <img class="shop" src="/img/Shop icon.png" alt=""> </a>
        </div>
    </nav>

    <nav role="navigation">

        <div class="menuToggle">
            <input type="checkbox" />
            <span></span>
            <span></span>
            <span></span>

            <ul class="menu">
                <a class="form1" href="/productEdit">
                    <li>Crear</li>
                <a class="form1" href="/asic">
                    <li>Asic</li>
                </a>
                <a class="form1" href="/rigs">
                    <li>Rigs</li>
                </a>
                <a class="form1" href="/nosotros">
                    <li>Nosotros</li>
                </a>
                <a class="form1" href="/contacto">
                    <li>Contacto</li>
                </a>
                <a class="form1" href="/login">
                    <li>Cuenta</li>
                </a>
                <a class="form1" href="/carrito">
                    <li>Compras</li>
                </a>
            </ul>

        </div>

    </nav>
</header>