<!DOCTYPE html>
<html>

<head>
  <title>Home</title>
  <%- include('./partials/head') %>
</head>

<body>
  <style>
  </style>
  <%- include ('./partials/header') %>

  <main>
    <video class="video" preload="auto" autoplay loop muted>
      <source src="img/home.mp4" type="video/mp4">
      <source src="img/home.mp4" type="video/webm">
      <source src="img/home.mp4" type="video/ogg">
  </video>
    <div class="Productos">
      <br>
      <p class="article">Bitcoin Miner S9j Pro</p>
      <br></br>
      <p>El minero bitcoin más potente del mundo hasta ahora. Antminer S19 Pro es un equipo de minería de algoritmo
        SHA-256 fabricado por Bitmain.</p>
    </div>
    <div class="imagenProducto">

      <img class="miner" src="img/Products/Bitcoin Miner S19 XP.png" alt="La imagen no pudo cargar correctamente">
    </div>
    <br>
    <br>
    </div>
    </div>
    <div class="barraProductos">
      <div class="flechaIzqProductos">
        <img src="img/Flecha Left.png">
      </div>
      <div class="imagenesBarraProductos">
        <img src="img/Products/Bitcoin Miner S19.png" alt="La imagen no pudo cargar correctamente">
      </div>
      <div class="imagenesBarraProductos">
        <img src="img/Products/Bitcoin Miner S19 Pro.png" alt="La imagen no pudo cargar correctamente">
      </div>
      <div class="imagenesBarraProductos">
        <img src="img/Products/Bitcoin Miner S19 XP.png" alt="La imagen no pudo cargar correctamente">
      </div>
      <div class="imagenesBarraProductos">
        <img src="img/Products/Bitcoin Miner S19 Pro+ Hyd..png" alt="La imagen no pudo cargar correctamente">
      </div>
      <div class="flechaDerProductos">
        <img src="img/Flecha Right.png">
      </div>

  </main>
  <footer>

  </footer>
</body>

</html>