<!DOCTYPE html>
<html>

<head>
  <title>Nosotros</title>
  <%- include('./partials/head') %>
</head>

<body>
  <style>

  </style>
  <%- include ('./partials/header') %>
  <main>

    <video class="video" preload="auto" autoplay loop muted>
      <source src="/img/data.mp4" type="video/mp4">
      <source src="/img/data.mp4" type="video/webm">
      <source src="/img/data.mp4" type="video/ogg">
  </video>
    <span class="altus">
  <h1>Acerca de CIPHER</h1>
  <br>
<p class="nosotros">
  Desde el año 2013 nos dedicamos a la importación y comercialización de equipos de criptomineria promoviendo y difundiendo las oportunidades que brindan las 
   tecnologías descentralizadas, transparentes, trazables, seguras y consensuadas.
  </p>
</br>
  <p>
    <h3 class="ustitle">Misión</h3>
    <p class="nosotros">Acercar a individuos, sectores productivos y tomadores de decisiones las 
      oportunidades que brindan las tecnologías descentralizadas, transparentes, trazables, seguras y consensuadas.</p>
    </p>
    </br>
      <h3 class="ustitle">Visión</h3>
        <p class="nosotros">
        Ser la empresa argentina referente y 
        más confiable en cuestiones vinculadas a la mineria de cripto y las tecnologías
         descentralizadas.
      </p>
  </p>
  </span>
  </main>
  <footer>

  </footer>
</body>

</html>