<!DOCTYPE html>
<html>

<head>
  <title>Registro</title>
  <meta charset="utf-8">
  <%- include ('../partials/head') %>
</head>

<body>
  <style>
    body {
      background-image: url('/img/Back\ register.jpg');
    }
  </style>
  <%- include ('../partials/header') %>
  </nav>
  <main class="main">
    <h1 class="h1form">Crea tu cuenta</h1>
    <h2 class="rapid">Es rápido y fácil</h2>
    <form action="login/register" method="POST" class="formulario">
      <label class="labelForm">Nombre</label>
      <input type="text" class="control" name="nombre" placeholder="Ingrese su Nombre">
      <label class="labelForm">Apellido</label>
      <input type="text" class="control" name="apellido" placeholder="Ingrese su Apellido">
      <label class="labelForm">Email</label>
      <input type="email" class="control" name="email" placeholder="Ingrese su Email">
      <label class="labelForm">Contraseña</label>
      <input type="password" class="control" name="contraseña" placeholder="Ingrese su Constraseña">
      <div><button type="submit" class="buttons" >Crear Cuenta</button>
        <button class="buttons" type="submit"><a class="form1" href="login">Ingresar</a></button>
      </div>

    </form>
  </main>
  <footer>

  </footer>
</body>

</html>