<!DOCTYPE html>
<html>

<head>
  <title>Asic</title>
  <meta charset="utf-8">
  <%- include('../partials/head') %>
</head>

<body>
  <style>
    body {
      background-image: url('img/Back - home.jpg');
    }
  </style>
  <%- include ('../partials/header') %>
  <main>
<h1>ASICS</h1>
<ul>
  <% for (let i = 0, i < Asic.length; i++) { %>
<li>
  <%=Asic[i].titulo%>
</li>
 <% } %>
</ul>
  </main>
  <footer>

  </footer>
</body>

</html>