<!DOCTYPE html>
<html>

<head>
  <title>Carrito de compras</title>
  <%- include('../partials/head') %>
</head>
      
<body>
    <style>
        body {
            background-image: url('img/Back\ -\ shop.jpg');
        }
    </style>
    <%- include ('../partials/header') %>
        <main>
         <div class="mainCart">
          <div class="basket">
            <div class="basket-labels">
              <ul class="basketUl">
                <li class="item item-heading">Productos</li>
                <li class="price">Precio</li>
                <li class="quantity">Cant.</li>
                <li class="subtotal">Subtotal</li>
              </ul>
            </div>

            <div class="basket-product">
              <div class="item">
                <div class="product-image">
                  <img src="img/bitcoin-miner-s19-xp.png" alt="La imagen no pudo cargar correctamente" class="product-frame">
                </div>
                <div class="product-details">
                    <strong>Bitcoin Miner S19 XP</strong>
                </div>
              </div>
              <div class="price">26.00</div>
              <div class="quantity">
                <input type="number" value="4" min="1" class="quantity-field">
              </div>
              <div class="subtotal">104.00</div>
              <div class="remove">
                <button class="buttons buttonEliminar">Eliminar</button>
              </div>
            </div>

            <div class="basket-product">
              <div class="item">
                <div class="product-image">
                  <img src="img/bitcoin-miner-s19.png" alt="La imagen no pudo cargar correctamente" class="product-frame">
                </div>
                <div class="product-details">
                  <p><strong>Bitcoin Miner S19</strong></p>
                </div>
              </div>
              <div class="price">26.00</div>
              <div class="quantity">
                <input type="number" value="1" min="1" class="quantity-field">
              </div>
              <div class="subtotal">26.00</div>
              <div class="remove">
                <button class="buttons buttonEliminar">Eliminar</button>
              </div>
            </div>
          </div>
          <aside class="summaryCard">
            <div class="summary">
              <div class="summary-total-items"><span class="total-items"></span> Productos agregados</div>
              <div class="summary-total">
                <div class="total-title">Total</div>
                <div class="total-value final-value" id="basket-total">130.00</div>
              </div>
              <div>
                <form action="/carrito/compra" method="POST">
                <button type="submit" class="buttons">Comprar</button>
                </form>
              </div>
            </div>
          </aside>
        </div>
        </main>
    <footer>
        <%- include('../partials/footer') %>

    <script>
        /* Set values + misc */
var fadeTime = 200;

/* Assign actions */
$('.quantity input').change(function() {
  updateQuantity(this);
});

$('.remove button').click(function() {
  removeItem(this);
});

$(document).ready(function() {
  updateSumItems();
});

/* Recalculate cart */
function recalculateCart(onlyTotal) {
  var subtotal = 0;

  /* Sum up row totals */
  $('.basket-product').each(function() {
    subtotal += parseFloat($(this).children('.subtotal').text());
  });

  /* Calculate totals */
  var total = subtotal;

  /*If switch for update only total, update only total display*/
  if (onlyTotal) {
    /* Update total display */
    $('.total-value').fadeOut(fadeTime, function() {
      $('#basket-total').html(total.toFixed(2));
      $('.total-value').fadeIn(fadeTime);
    });
  } else {
    /* Update summary display. */
    $('.final-value').fadeOut(fadeTime, function() {
      $('#basket-subtotal').html(subtotal.toFixed(2));
      $('#basket-total').html(total.toFixed(2));
      if (total == 0) {
        $('.buttons').fadeOut(fadeTime);
      } else {
        $('.buttons').fadeIn(fadeTime);
      }
      $('.final-value').fadeIn(fadeTime);
    });
  }
}

/* Update quantity */
function updateQuantity(quantityInput) {
  /* Calculate line price */
  var productRow = $(quantityInput).parent().parent();
  var price = parseFloat(productRow.children('.price').text());
  var quantity = $(quantityInput).val();
  var linePrice = price * quantity;

  /* Update line price display and recalc cart totals */
  productRow.children('.subtotal').each(function() {
    $(this).fadeOut(fadeTime, function() {
      $(this).text(linePrice.toFixed(2));
      recalculateCart();
      $(this).fadeIn(fadeTime);
    });
  });

}

function updateSumItems() {
  var sumItems = 0;
  $('.quantity input').each(function() {
    sumItems += parseInt($(this).val());
  });
  $('.total-items').text(sumItems);
}

/* Remove item from cart */
function removeItem(removeButton) {
  /* Remove row from DOM and recalc cart total */
  var productRow = $(removeButton).parent().parent();
  productRow.slideUp(fadeTime, function() {
    productRow.remove();
    recalculateCart();
    updateSumItems();
  });
}
    </script>
    </footer>
</body>

</html>